{% extends "base.html" %} {% block title %} home {% endblock %} {% block
content%}

<div class="container mt-5" align="center">
    <p class="h1 border-1">Wellcome {{current_user.user_name}}</p>
</div>
{%for post in posts%}
<div class="card mt-3">
    {% if current_user.user_name == post.username%}
    <div class="btn-group btn-sm ms-auto" algin="left">
        <button
            type="button"
            class="btn dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
            ⋮
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <button class="dropdown-item" id="delete_post" type="button">
                    <a
                        href="/deletepost/{{post.post_id}}"
                        class="list-group-item text-danger"
                        >Delete post</a
                    >
                </button>
            </li>
        </ul>
    </div>
    {%endif%}
    <div class="card-body">
        <h5 class="card-title">{{post.post_content}}</h5>
        <p class="card-text small">Author: {{post.username}}</p>
        <a href="/authorposts/{{post.user_id}}" class="link small me-2"
            >show all author posts
        </a>
        <a href="/postcomments/{{post.post_id}}" class="link">comments </a>
    </div>
</div>
{%endfor%} {% endblock %}
