{% extends "base.html" %} {% block title %} deletpost {% endblock %} {% block
content%}
<div class="container mb-3">
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">{{post.post_content}}</h5>
            <p class="card-text small text-dark text-opacity-50">
                Author: {{post.post_author}}
            </p>
        </div>
    </div>
</div>
<form action="/createcomment/{{post.post_id}}" method="post">
    <div class="row">
        <div class="container mt-3">
            <div class="form-floating">
                <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea"
                    name="user_input_comment_content"
                ></textarea>
                <label for="floatingTextarea">Comment</label>
            </div>
        </div>
    </div>
    <div class="row-auto mt-3 justify-content-center d-flex">
        <button type="submit" class="btn btn-outline-primary mb-3">post</button>
    </div>
</form>

<div class="text-bg-primary"></div>
{%for comment in comments%}
<div class="card mt-3">
    <div
        class="card-header bg-dark bg-opacity-25 d-flex justify-content-lg-end"
    >
        {% if current_user.user_name == comment.user_name%}
        <div class="btn-group btn-sm ms-auto">
            <button
                type="button"
                class="btn dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                ⋮
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <button
                        class="dropdown-item"
                        id="delete_post"
                        type="button"
                    >
                        <a
                            href="/deletecomment/{{comment.com_id}}"
                            class="list-group-item text-danger"
                            >Delete comment</a
                        >
                    </button>
                </li>
            </ul>
        </div>
        {%endif%}
    </div>
    <div class="card border-0">
        <div class="card-body">
            <h5 class="card-title">{{comment.com_content}}</h5>
            <p class="card-text small text-black text-opacity-50">
                Author: {{comment.user_name}}
            </p>
        </div>
    </div>
</div>
{%endfor%} {% endblock %}
